@import './theme.css';
@import './reset.css';

html,
body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-sans);
  overflow: hidden;
}

#root {
  height: 100%;
}
